/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
html
{
    /* height: 100vh; */
    height: 100%;
}       
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
height: 100%;
/* font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif; */
font-size: 16px;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

/* My CSS */

a,a:visited
{
    color:white;
    text-decoration: none;
}
svg
{
    fill: black;
}
.sidebar svg
{
    fill: white;
}
button
{
    padding: 5px 24px;
    border-radius: 28px;
    background-color:#5c5470;
    color: white;
    font-weight: bold;
}
button:hover
{
    background-color: #2a2438; ;
}


.container
{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}
.sidebar
{
    background-color:  #2a2438;
    grid-row: 1/-1;    
}
.header
{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    background-color: #dbd8e3;
}
.header-top-right
{
    grid-row:1;
    grid-column:2;
    justify-self: center;
    align-self: center;
    padding: 25px;
}
.header-top-left
{
    align-self: center;
    padding: 25px;
}
.header-top-left input
{
    width:90%;
    background-color:  transparent;
}
.header-top-left svg
{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align:middle;
}
.header-top-right img,.header-top-right svg
{
    width: 50px;
    height: 50px;
    margin-right: 35px;
    vertical-align:middle;
    display: inline-block;
}
.header-top-right svg
{
    width: 35px;
    height: 35px;
}
.header-right
{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-left img
{
    width: 100px;
    height: 100px;
    margin-right: 25px;
    vertical-align:middle;
    display: inline-block;
}
.header-left
{
    grid-column: 1;
    grid-row: 2;
    margin: 10px;
    align-items: center;
}
.main
{
    display: grid;
    background-color: #5c5470;
    grid-template-columns: 2fr 1fr;
}
.project-heading
{
    grid-row: 1;
    grid-column: 1/-1;
}
.project-container
{
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows:0.1fr ;  
    gap:25px;
    grid-row:1/5;
}
.projects
{
    background-color: #dbd8e3;
    max-height: 350px;
    padding: 25px;
    border-radius:10px;
    border: 5px solid #352f44;;
}
.announcement-container
{
    display: grid;
    /* gap: 25px; */
    padding: 25px;
    /* grid-template-rows:0.1fr ;   */

}
.announcements,.trending
{
    background-color: #dbd8e3;
    max-width: 500px;
    border: dotted black;
    border-radius:10px ;
}
.trending-container
{
    display: grid;
    /* gap: 25px; */
    padding: 25px;
    grid-row: 2/5;
}
.announcements
{
    padding: 25px;
}
.sidebar
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(9,50px);
    padding: 25px;

}
.sidebar img
{
    /* background-color: palegreen; */
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.sidebar svg
{
    width: 30px;
    height: 30px;
    margin-right: 25px;
    vertical-align: middle;
    display: inline-block;
}
.sidebar-text:hover,.sidebar-heading:hover,.header-left img:hover
{
    transform: scale(1.15);
    svg
    {
        fill: lightpink;
    }
    a
    {
        color: lightpink;
    }
}
.projects-icons
{
    text-align: right;
    justify-content: flex-end;
    margin-top: 50px;
    display: flex;
    gap: 25px;
}
.projects-icons svg
{
    width: 25px;
    height: 25px;
    vertical-align:middle;
    display: inline-block;
}
.projects-icons svg:hover
{
    transform: scale(1.3);
}
.trending img
{
    width: 50px;
    height: 50px;
    margin-right: 25px;
    /* vertical-align:text-top; */
    display: inline-block;
}
.trending p,.header p
{
    display: inline-block;
}
