/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
html
{
    height: 100%;
}       
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
/* height: 100vh; */
/* display: flex; */
/* font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif; */
font-size: 16px;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

/* My CSS */

a
{
    text-decoration: none;
}
.container
{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    /* height: 100vh; */
}
.sidebar
{
    background-color: lightblue;
    grid-row: 1/-1;
}
.header
{
    background-color: lightcoral;
}
.main
{
    display: grid;
    background-color: lightgreen;

    grid-template-columns: 5fr 1fr;
}
.trending-container
{
    grid-column: 2/-1;
}