/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
html
{
    /* height: 100vh; */
    height: 100%;
}       
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
height: 100%;
/* font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif; */
font-size: 16px;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

/* My CSS */

a
{
    text-decoration: none;
}
.container
{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    /* height: 100%; */
}
.sidebar
{
    background-color: lightblue;
    grid-row: 1/-1;
}
.header
{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    background-color: lightcoral;
}
.header-right
{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-left
{
    grid-column: 1;
    grid-row: 2;
    margin: 10px;
    align-items: center;
}
.main
{
    display: grid;
    background-color: lightgreen;
    grid-template-columns: 2fr 1fr;
}
.project-heading
{
    grid-row: 1;
    grid-column: 1/-1;
}
.project-container
{
    padding: 25px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows:0.1fr ;  
    gap:25px;
    grid-row:1/5;
}
.projects
{
    background-color: peru;
    max-height: 350px;
    padding: 25px;
}
.announcement-container
{
    background-color: plum;
    display: grid;
    gap: 25px;
    padding: 25px;
}
.announcements,.trending
{
    background-color: lightslategray;
    max-width: 500px;
}
.trending-container
{
    background-color: burlywood;
    display: grid;
    gap: 25px;
    padding: 25px;
}
.announcements
{
    padding: 25px;
}
.sidebar
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(9,50px);
    padding: 25px;

}
.sidebar img
{
    /* background-color: palegreen; */
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.sidebar svg
{
    width: 30px;
    height: 30px;
    margin-right: 25px;
    vertical-align: middle;
    display: inline-block;
}
.sidebar-text:hover,.sidebar-heading:hover
{
    transform: scale(1.15);
}
.projects-icons
{
    text-align: right;
    justify-content: flex-end;
    margin-top: 50px;
    display: flex;
    gap: 25px;
}
.projects-icons svg
{
    width: 25px;
    height: 25px;
    vertical-align:middle;
    display: inline-block;
}
.projects-icons svg:hover
{
    transform: scale(1.3);
}
.trending img
{
    width: 50px;
    height: 50px;
    margin-right: 25px;
    /* vertical-align:text-top; */
    display: inline-block;
}
.trending p
{
    display: inline-block;
}
